/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Default Light Mode */
.app-container {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

html { /*html css to make sure darkmode covers whole screen*/
  background-color: #ffffff;
  color: #000000;
}
html.dark-mode{
  background: #121212;
  color: #ffffff;
  transition: background 0.3s, color 0.3s;
}


/* ListGroup Component Styles */
.list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    color: white;
  }
  
  /* Square Component Styles */
  .square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-color: gray;
    color: black;
    border-radius: 8px;
    margin: 8px;
    height: 100%;
    max-height: 200px;
    min-height: 100px;
    max-width: 200px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 5px;
    font-family: "Abel", sans-serif;
    cursor: pointer;
  }
  
  .square.grow {
    flex: 1;
  }
  
  /* Squares Component Styles */
  .squares-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .squares-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .squares-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  /*styling for images*/
  .square-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .square-title {
    font-size: 14px;
    text-align: center;
    padding: 0 8px;
    overflow: hidden;
  }
  
  .squares-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: black;
    font-size: 150%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dark-mode li a{
    background: #121212;
    color: white;
    transition: background 0.3s, color 0.3s;
  }
  
  .light-mode li a{
    background-color: white;
    color: black;
    transition: background 0.3s, color 0.3s;
  }

  li a:hover:not(.active) {
    background-color: lightgrey;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .navbar{
    display: flex;
    justify-content: center; /* pushes children to opposite sides */
    align-items: center; /* vertically centers them */
    padding: 1rem;
    background-color: white;
    transition: background 0.3s, color 0.3s;
  }

  .dark-mode .navbar {
    background: #121212;
    transition: background 0.3s, color 0.3s;
  }

  .navlinks {
    display: flex;
    gap: 3rem; /* space between each list item */
    list-style: none;
    transition: background 0.3s, color 0.3s;
  }

  .navlinks a{
    border-radius: 100px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    background-color: #e0e0e0 !important;
    color: #333;
  }

  .navlinks a.active{
    background-color: #FF0000 !important;
    color: white;
    font-weight: 600;
  }



  /* Light Mode Button */
.light-mode .navlinks {
  background: #fff;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

/* Dark Mode Button */
.dark-mode .navlinks {
  background: #121212;
  color: white;
  transition: background 0.3s, color 0.3s;
}





  h1{
    font-family: "Abel", sans-serif;
    font-size: 700%;
  }
  .highlight {
    color: red;
  }

  .flexbox_center{
    display: flex;
    justify-content: center; /* centers horizontally*/
  }

  /*styling for loading animation*/

  .spinner { /*A box for the other loading elements to be in*/
  position: relative;
  width: 80px;
  height: 40px;
}

.dot1, .dot2, .dot3 {
  position: absolute; /*absolute means its position is relative to the relative bo its in*/
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  animation: bounce 0.6s infinite alternate; /*use bounce animation specified below*/
}

.dot1 {
  left: 0; /*positioned at the left most spot on .spinner*/
  animation-delay: 0s; /*this dot will move first due to the 0 delay*/
}

.dot2 {
  left: 32.5px;  /*half the spinner width - half the dots width*/
  animation-delay: 0.15s;
}

.dot3 {
  right: 0;
  animation-delay: 0.3s;
}

/*loading aniamtion*/
@keyframes bounce {
  0% { /*at start of aniamtion*/
      transform: translateY(0); /*dots are in original position*/
  }
  100% {/*at end of aniamtion*/
      transform: translateY(-20px);/*dots are 20px up from original position*/
  }
}

.date {
  margin-left: 15px;
  color: red;
  font-family: "Abel", sans-serif;
  font-size: 150%;
  margin-top: 15px;
}


.user-icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}


.date-container {
  display: flex;
  justify-content: space-between; /* This will space out the date and the icon */
  margin-top: 12px;
}


hr {
  border-top: 2px solid grey;
  margin: 10px;
  width: 100%;
}


.signup-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: rgb(138, 11, 11);
  padding-bottom: 30px;
}


.signup-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}


.text {
  color:#ddd;
  font-size: 48px;
  font-weight: 700;
}


.underline {
  width: 61px;
  height: 6px;
  background: #ddd;
  border-radius: 9px;
}


.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #ddd;
  border-radius: 6px;
}



.squares-row {
  display: flex;
  gap: 10px;
}



.square {
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.square-content-image {
  width: 100%;
  aspect-ratio: 16 / 9; /* Set desired aspect ratio */
  overflow: hidden;
  border-radius: 8px; /* Optional for aesthetics */
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops and fills */
}

/*Popup large Square CSS*/
.largeSquare{
  position: absolute; 
  border: 1px solid #dee2e6; /*border colour makes it look more distingishable in darkmode*/
  border-radius: 0.25rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.265); 
  position: fixed; /*makes content stay in place when you scroll*/
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* centers box*/
  max-Width: 80vw; /* prevent it from overflowing past window*/
  max-Height: 80vh;
  overflow-y: auto; /* scroll if content is too tall*/
  display: flex;
  flex-Direction: column;
  justify-Content: center;
  align-Items: center;
  z-Index: 100; /* To make it above any other elements*/
  background-Color: white; 
  padding: 1rem;
  border-Radius: 1rem;
  transition: background 0.3s, color 0.3s; /*animation for darkmode/lightmode */
}

.dark-mode .largeSquare {
  background: #121212;
  transition: background 0.3s, color 0.3s;
}

.largeSquareDate{
  font-size:small;
  color: lightslategray;
}

.largeSquareButton{ /*Style for close button x for large square*/
  position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 24px;
    height: 24px;
    background-Color: #ff0019;
    color: white;
    border: none;
    border-Radius: 4px;
    display: flex;
    justify-Content: center;
    align-Items: center;
    cursor: pointer;
}

.largeSquareButton:hover{
  background-Color: #9b0010;
  color: #b1b1b1;
}