/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* ListGroup Component Styles */
.list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    color: white;
  }
  
  /* Square Component Styles */
  .square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-color: gray;
    color: black;
    border-radius: 8px;
    margin: 8px;
    height: 100%;
    max-height: 200px;
    min-height: 100px;
    max-width: 200px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 5px;
    font-family: "Abel", sans-serif;
  }
  
  .square.grow {
    flex: 1;
  }
  
  /* Squares Component Styles */
  .squares-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .squares-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .squares-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  /*styling for images*/
  .square-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .square-title {
    font-size: 14px;
    text-align: center;
    padding: 0 8px;
    overflow: hidden;
  }
  
  .squares-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: black;
    font-size: 150%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightgrey;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .navbar{
    display: flex;
    justify-content: center; /* pushes children to opposite sides */
    align-items: center; /* vertically centers them */
    padding: 1rem;
  }

  .navlinks {
    display: flex;
    gap: 3rem; /* space between each list item */
    list-style: none;
  }
  h1{
    font-family: "Abel", sans-serif;
    font-size: 700%;
  }
  .highlight {
    color: red;
  }

  .flexbox_center{
    display: flex;
    justify-content: center; /* centers horizontally*/
  }

  /*styling for loading animation*/

  .spinner { /*A box for the other loading elements to be in*/
  position: relative;
  width: 80px;
  height: 40px;
}

.dot1, .dot2, .dot3 {
  position: absolute; /*absolute means its position is relative to the relative bo its in*/
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  animation: bounce 0.6s infinite alternate; /*use bounce animation specified below*/
}

.dot1 {
  left: 0; /*positioned at the left most spot on .spinner*/
  animation-delay: 0s; /*this dot will move first due to the 0 delay*/
}

.dot2 {
  left: 32.5px;  /*half the spinner width - half the dots width*/
  animation-delay: 0.15s;
}

.dot3 {
  right: 0;
  animation-delay: 0.3s;
}

/*loading aniamtion*/
@keyframes bounce {
  0% { /*at start of aniamtion*/
      transform: translateY(0); /*dots are in original position*/
  }
  100% {/*at end of aniamtion*/
      transform: translateY(-20px);/*dots are 20px up from original position*/
  }
<<<<<<< Updated upstream
=======
}

.date {
  margin-left: 15px;
  color: red;
  font-family: "Abel", sans-serif;
  font-size: 150%;
  margin-top: 15px;
}


.user-icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}


.date-container {
  display: flex;
  justify-content: space-between; /* This will space out the date and the icon */
  margin-top: 12px;
}


hr {
  border-top: 2px solid grey;
  margin: 10px;
  width: 100%;
}


.signup-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: rgb(138, 11, 11);
  padding-bottom: 30px;
}


.signup-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}


.text {
  color:#ddd;
  font-size: 48px;
  font-weight: 700;
}


.underline {
  width: 61px;
  height: 6px;
  background: #ddd;
  border-radius: 9px;
}


.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #ddd;
  border-radius: 6px;
}


.squares-row {
  display: flex;
  gap: 10px;
}

.square {
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.square-content-image {
  width: 100%;
  aspect-ratio: 16 / 9; /* Set desired aspect ratio */
  overflow: hidden;
  border-radius: 8px; /* Optional for aesthetics */
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops and fills */
>>>>>>> Stashed changes
}